/*Css frame ~GetHubs*/
body {
    background-color:  #99d6ff;
    text-align: center;
}
}

h1 {
    color: white;
   background: Green;
     text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

head {
  border:20px solid blue;
  }
