* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #CFD8DC;
}
header {
  height: 5vw ;
  background-color: #F4511E;
  position: relative;
  box-shadow: 5px 10px 18px #424242;
}
header > span{
  position: absolute;
  top: 20%;
  left: 10%;
  font-size:2vw ;
  color: #FBE9E7;
}

.coursename{
  height: 10vw;
  background-color: #FF6E40;
}

.coursename > span{
  padding-top: 3%;
  color: #E0E0E0;
  float: right;
  padding-right: 30px;
  font-size: 3vw;
  font-weight: bold;

}

.main-container{
  margin-left: 5%;
  margin-right:5%;
  height: auto;
  background-color: #689F38;
  margin-top: 3%;
  padding: 3%;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65);
  -moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
  box-shadow: 0 0 10px rgba(0,0,0, .65);
}

.introduction{
  height: 300px;
  width: 40%;
  float: left;
  background-color: #FFF9C4;
  margin-right:3%;
}

.intro-text{
  height: 100%;
  width: 57%;

  float: left;
}
.introduction > iframe{
  height: 100%;
  width: 100%;
}
.intro-text, h2{
  color: #E0E0E0;
}
.intro-text ul{
  padding-left: 40px;
}
.cta{
  margin-top: 20px;
  background: #EF9A9A;
  width: 40%;
  letter-spacing: 1vw;
  text-align: center;
  padding: 2vw;
  border-radius: 20px;
}
.main-container::after{
  clear: both;
  content: "";
  display: table;
}

#testimonial-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
    padding-top: 2vw;
    overflow-x: scroll;
    padding-bottom: 2vw;
  }

.testimonial {
    text-align: center;
    padding: 2vw;
    width: 25%;
    min-width: 220px;
    background: rgb(240, 234, 234);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
    box-shadow: 0 0 10px rgba(0,0,0, .65);
}

.testimonial:not(:first-child) {
    margin-left: 10px;
}

.testimonial img {
    width: 200px;
    border-radius: 50%;
}

.testimonial .header {
    font-weight: 900;
    font-size: 1.8vw;
}
footer {
    margin-top: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
    background-color: #607D8B;
}

@media screen and (max-width: 650px) {
    body {
        font-size: 5vw;
        margin: auto;
    }
    header > span{
      font-size: 3vw;
    }
    .coursename > span{
      font-size: 4vw;
    }
    .main-container{
      font-size: 3vw;
    }
    .introduction{
      float: none;
      width: 100%;
    }
    .intro-text{
      float: none;
      width: 100%;
    }
    #testimonial-wrapper {
        justify-content: flex-start;
        overflow-x: auto;
        margin-top: 5vw;
        padding-top: 5vw;
    }
    .testimonial {
        min-width: 90%;
    }
    .testimonial .header {
        font-size: 6vw;
    }
    /* to hide the scroll bars. Doesn't look good in browsers. Style it if you want   for mobile only */
     ::-webkit-scrollbar {
        display: none;
    }
}
